<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script>
        // on collection
        var socket = io("localhost:3000");
    </script>
    <title>Demo Socket IO</title>
</head>
<body>
    Hello world
    <!-- <script>
        $(document).ready(function(){
            alert("hello jquery");
        })
    </script> -->
</body>
</html>